* {
	border: 1px dotted blue;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #4DBFE6;
}

header {
	font-family: Montserrat;
	font-size: 35px;
	text-align: center;
	width: 100%;
	height: 75px;
	padding-top: 12px;
	background-color: #4DBFE6;
}

.panel {
	display: inline-block;
	width: 33%;
}

form {
	background-color: #4DBFE6;
	margin: 10px auto;
	width: 25%;
	height: 75px;
	border: 1px solid black;
	display: inline-block;
}

#newItemInput {
	background-color: #F1F1F1;
}

#newList {
	display: inline-block;
}

#panel {
	display: inline-block;
}
