.main-wrapper {
    background: url("../../img/big-bg.png")center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}

.main-page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #3E3C41;
    padding: 10px;
}

.logo-container {
    width: 50px;
}
.logo {
    width: 75%;
}

.time-container {
    width: 100px;
    padding-top: 10px;
}

.time{
    width: 90%;
}

.todo-main-container {

}

.todo-container {
    width: 80%;
    padding: 20px 0;
    display: flex;
    margin: auto;
    border-bottom: 1px solid #FFFFFF;
}

.todo-img-container {
    width: 50px;
}

.todo-img-container img {
    width: 100%;
}

.todo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.todo-footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;

    background: #4A4B55;
}

.add-todo-button {
    width: 55px;
}