.main-wrapper {
    height: 100vh;
    width: 500px;
    overflow: scroll;
    background: url("../../img/big-bg.png")center no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
}

.main-page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #3E3C41;
    padding: 10px;
    z-index: 1;
}

.logo-container {
    width: 50px;
}
.logo {
    width: 65%;
}

.time-container {
    width: 100px;
    padding-top: 10px;
}

.time{
    width: 90%;
}

.todo-main-container {
margin-top: 60px;
}

.todo-container {
    width: 80%;
    padding: 20px 0;
    display: flex;
    margin: auto;
    border-bottom: 1px solid #FFFFFF;
}

.todo-img-container {
    width: 50px;
}

.todo-img-container img {
    width: 100%;
}

.todo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.bottom-form-container {
    width: 100%;
    height: 350px;
    background: #3E3D41;
    position: absolute;
    bottom: -268px;
    text-align: center;
    padding-top: 30px;
}

.todo-form-title {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1;
    border-bottom: 4px solid #F3524A;
    padding-bottom: 10px;
    width: 33%;
    margin: 0 auto 30px;
}

.form-input-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-input {
    height: 40px;
    width: 275px;
    margin-bottom: 30px;
    border: 1px solid #F3524A;
    background: none;
    padding-left: 20px;
    font-size: 14px;
}

.form-input:placeholder{
    color: #F3524A;
}
.form-input:focus{
    outline: none;
}

.todo-footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4A4B55;
}

.add-todo-button {
    display: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.show-add-todo {
    display: inline-block;
}

.complete-todo-button {
    opacity: 1;
    height: 40px;
    border: 1px solid #F3524A;
    background: none;
    font-size: 14px;
    width: 60%;
    color: #fff;


}
.complete-todo-button:focus {
    outline: none;
}

#cancel {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    cursor: pointer;
}